<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round" rel="stylesheet">
    <title><%= recipeData.title %></title>
</head>
<body>
    <header id="header">
        <h1>
            Reci.P
        </h1>
    </header>

    <section class="recipe-title-container">
        <h2 class="recipe-title"><%= recipeData.title %></h2>
    </section>

<div class="recipe-instructions">
    <a href="<%= recipeData.link %>" target="_blank">
        <% if(recipeData.link){ %>
            <h4>
                Go to recipe webpage
            </h4>
      <%  } %>
    </a>
    <article class="recipe-ins-body">
        <p class="recipe-body-text">
            <%= recipeData.body %>
        </p>
    </article>
</div>

<nav class="show-buttons">
    <form action="/recipes/<%= recipeData._id %>/edit" method="GET">
        <button type="submit" class="show-btns">Edit recipe</button>
    </form>

    <form action="/recipes/<%= recipeData._id %>?_method=DELETE" method="POST">
        <button type="submit" class="show-btns">Delete recipe</button>
    </form>

    <form action="/recipes" method="GET">
            <button type="submit" class="show-btns">Back To Recipes</button>
    </form>

    <form action="/categories" method="GET">
            <button type="submit" class="show-btns">Back To Categories</button>
    </form>
</nav>

</body>
</html>